!!!
%html
  %head
    %title Inventory Management System
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turboloinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %link{:crossorigin => 'anonymous', :href => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', :integrity => 'sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', :rel => 'stylesheet'}
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap", :rel => "stylesheet"}

  %body
    = yield

