!!!
%html
  %head
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    %script{:async =>'', :src=>"https://www.googletagmanager.com/gtag/js?id=UA-126188592-4"}
    %script
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126188592-4');



    %title Inventory Management System
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %link{:crossorigin => 'anonymous', :href => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', :integrity => 'sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', :rel => 'stylesheet'}
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap", :rel => "stylesheet"}

  %body
    = yield

